<div class="container col-md-5">
<form name="updateInfo" method="POST" action="/updateInfo" >
   <div class="mb-3">
       <h2>Изменение данные пользователя</h2>
    <label for="exampleInputName" class="form-label">Имя</label>
    <input name="name" type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp" required>
  </div>
  <div class="mb-3">
    <label for="exampleInputCity" class="form-label">Город</label>
    <input name="city" type="text" class="form-control" id="exampleInputCity">
  </div>

  <button type="submit" class="btn btn-primary">Изменить данные</button>
  </div>
